/*
 * Copyright © Live-Poll 2020-2021. All rights reserved
 */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.ms-welcome__header {
    padding: 50px 20px 30px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
}

.ms-welcome__main {
    padding: 10px 20px;
}

.ms-welcome__main > h2 {
    width: 100%;
    text-align: center;
}

.ms-Button {
    float: right;
}
